* {
  margin: 0;
  padding: 0;

  scrollbar-width: thin;

  font-family: "Roboto Mono";
  font-size: 62.5%;

  @media (max-width: 1200px) {
    font-size: 56.25%;
  }

  @media (max-width: 900px) {
    font-size: 50%;
  }
  @media (min-width: 1800px) {
    font-size: 75%;
  }

  div {
    display: flex;
    flex-direction: column;
  }

  body {
    overflow-y: hidden;
    max-width: 500px;
    height: 100vh;
  }

  #root {
    overflow-y: hidden;
    max-width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
